<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<img src="https://iconarchive.com/download/i43063/oxygen-icons.org/oxygen/Devices-input-gaming.ico" alt="Brand Icon" width="30" height="24" class="d-inline-block align-left">
		<a class="navbar-brand" href="/jogos">Gamezone</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navba    rText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/eventos">Eventos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/perifericos">Periféricos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/plat">Plataformas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/criadores">Criadores</a>
				</li>
			</ul>
			<span class="navbar-text">
				IPMAIA | TIWM | Tecnologias Internet | 2021
			</span>
		</div>
	</div>
</nav>

