<!doctype html>
<html lang="pt">
  <head>
     <%-include('partials/head/plat.ejs')-%>
  </head>
  <body>
    <div id="background">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<%-include('partials/navbar.ejs')-%>
    <h1>Plataformas</h1>
    <div class= 'cards'>
    <div class="card shadow" style="width: 18rem;">
        <div class="inner">
          <img src="https://s2.glbimg.com/I2_W4j1HEKEtrCj-bgTPVMzN5S0=/0x236:3600x2211/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2020/L/W/GO8WsPQ6C090NUUUD2GA/ps5.jpg" class="card-img-top"/>
        </div>
      <div class="card-body">
        <h5 class="card-title">Playstation 5</h5>
        <p class="card-text">
            O PlayStation 5, oficialmente abreviado como PS5, é um console de jogos eletrônicos de nona geração, desenvolvido pela Sony Interactive Entertainment.
            Foi anunciado em outubro de 2018
        </p>
        <a href="#" class="btn btn-primary" id="btn" onclick="window.open('https://www.playstation.com/pt-pt/ps5/')">Mais info</a>
      </div>
      </div>
    <div class="card shadow" style="width: 20rem;">
        <div class="inner">
            <img src="https://www.techinn.com/f/13777/137776929/microsoft-xbox-series-x-1tb.jpg" class="card-img-top"/>
        </div>
      <div class="card-body">
        <h5 class="card-title">XBOX Series X</h5>
        <p class="card-text">
            Xbox é uma marca de consoles de jogos eletrônicos criada pela Microsoft. O nome Xbox é incluído em uma série de consoles desenvolvidos pela Microsoft,
            desde a sexta geração até a nona geração de consoles, bem como o serviço on-line Xbox Live e Xbox Game Pass.
            A marca foi introduzida pela primeira vez em 15 de novembro de 2001, nos Estados Unidos, com o lançamento do console Xbox.
        </p>
        <a href="#" class="btn btn-primary" id="btn" onclick="window.open('https://www.xbox.com/pt-PT')">Mais info</a>
      </div>
      </div>
      <div class="card shadow" style="width: 20rem;">
        <div class="inner">
            <img src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/140007-games-review-nintendo-switch-review-image1-lp6zy9awm0.jpg" class="card-img-top"/>
        </div>
      <div class="card-body">
        <h5 class="card-title">Nintendo Switch</h5>
        <p class="card-text">
            Em casa e ligada a uma TV, a Nintendo Switch pode ser jogada como uma consola de videojogos doméstica.
            Mas, na verdade, de acordo com as tuas necessidades e circunstâncias, tens três modos de jogo à escolha.
        </p>
        <a href="#" class="btn btn-primary" id="btn" onclick="window.open('https://www.nintendo.pt/Familia-Nintendo-Switch/Nintendo-Switch/Nintendo-Switch-1148779.html')">Mais info</a>
      </div>
      </div>
      <div class = "grid-container">
      <div class="card shadow" style="width: 20rem;">
        <div class="inner">
            <img src="https://static.bhphoto.com/images/images500x500/sega_sg_10037_2_sega_genesis_mini_1569259465_1472531.jpg" class="card-img-top"/>
        </div>
        <div class="card-body">
          <h5 class="card-title">Sega Genesis Mini</h5>
          <p class="card-text">
            A consola icónica da SEGA que definiu uma geração de jogadores regressa nesta unidade elegante e miniaturizada.
            Fabricado pela SEGA, Genesis Mini oferece muita diversão nos seus 40 jogos lendários.
          </p>
          <a href="#" class="btn btn-primary" id="btn" onclick="window.open('https://genesismini.sega.com/')">Mais info</a>
        </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
