<%-include('meta.ejs')-%>
<meta name="keywords" content="Eventos" />
<meta name="description" content="Conjunto de eventos relacionados com os jogos." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<%-include('links.ejs')-%>
<title>Eventos</title>
