<%-include('meta.ejs')-%>
<meta name="keywords" content="Jogo" />
<meta name="description" content="Apresenta do conteudo existente sobre um jogo após requesição." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<%-include('links.ejs')-%>
<title>Jogos</title>
