<%-include('meta.ejs')-%>
<meta name="keywords" content="Periféricos" />
<meta name="description" content="Periféricos recomendados para praticantes de gaming." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<%-include('links.ejs')-%>
<title>Periféricos</title>
